<% unless comment.user.nil? %>
<div id= "comment-<%=comment.id%>" class="comment">

	<a class="pull-left" href="#">
    <% if comment.user.avatar.nil? %>
     	<img class="avatar" src="http://bootdey.com/img/Content/user_1.jpg" alt="avatar">
    <% else %>
      <img class="avatar" src="<%=comment.user.avatar%>" alt="avatar">
     <% end %>
  </a>
  <div class="comment-body">
      <div class="comment-heading">
          <h4 class="user"><%=link_to comment.user.name, comment.user %></h4>
          <h5 class="time"><%= time_ago_in_words(comment.updated_at) %></h5>
      </div>
      <p><%=comment.content%></p>
  </div>
</div>
<% end %>