<%=image_tag @user.avatar, width: '500', height: '500'%>
<!-- <h2>Sign up</h2> -->

<div class="login-page">
  <div class="login-form-box">

      <div class="field">
      	Email: <%=@user.email%>
      </div>

      <div class="field">
      	Name: <%=@user.name%>
      </div>

      <div class="field">
      	Gender: <%=@user.gender%>
      </div>

      <div class="field">
      	Date of birth: <%=@user.dob%>
      </div>

  </div>
</div>