<div class="col-lg-3 col-md-4 col-xs-6 thumb">
  <a class="thumbnail" href="/items/<%=item['id']%>" style="background-color: #2a3b46">
    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
    <div class="item-description">
      <p class="item-name"><%= item['name'] %></p>
      <p class="item-detail-review">
        <%=
          if item['detail_review'] != nil
            raw item['detail_review'][0..20]
          else
            'No detail review'
          end
        %>
      </p>
      <p class="star"> <%= item['value']%>
        <%=
          item['value'] = Float(item['value'])
          case
            when item['value'] <= 1.5
              '★☆☆☆☆'
            when item['value'] <= 2.5
              '★★☆☆☆'
            when item['value'] <= 3.5
              '★★★☆☆'
            when item['value'] <= 4.5
              '★★★★☆'
            else
              '★★★★★'
          end
        %>
      </p>
    </div>
  </a>
</div>