<div class="col-md-3 thumb thumbnail-section" style="margin-top: 20px; height: 300px">
  <%link_to item, class: "item-thumbnail" %>
    <div style="height: 60%; width: 100%">
      <% if item.image.nil? %>
          <img class="img-responsive" style="width: 100%; height: 100%" src="http://placehold.it/400x300" alt="">
      <% else %>
          <%= image_tag item.image, class: "img-responsive"%>
      <% end %>
    </div>
    <div class="item-description">
      <p class="item-name"><%= link_to item.name, item %></p>
     <!--  <p class="item-detail-review">
        <%=
          if item.detail_review != nil
            raw item.detail_review
          else
            'No detail review'
          end
        %>
      </p> -->
      <p class="glyphicon glyphicon-comment"><%=item.comments.count%></p>
      <p class="homepage-star"><span style="color:black">Rating: </span>
        <%=
          case
            when item.rate.nil?
              '☆☆☆☆☆' 
            when item.rate <= 1.5
              '★☆☆☆☆'
            when item.rate <= 2.5
              '★★☆☆☆'
            when item.rate <= 3.5
              '★★★☆☆'
            when item.rate <= 4.5
              '★★★★☆'
            else
              '★★★★★'
          end
        %>
      </p>
    </div>
  </a>
</div>