<script src="app/assets/javascripts/jquery.flexslider-min.js"></script>
<!--slider-->   
<div class="slider_container">
    <div class="flexslider">
        <ul class="slides">
        <%@slide_items.each do |item| %>
          <li>
              <%=link_to image_tag(item.image), item%>
            </a>
            <div class="flex-caption">
              <div class="caption_title_line">
                <h2><%=link_to item.name, item%></h2>
                <p><%= raw item.detail_review %></p>
              </div>  
            </div>
          </li>
        <%end%>
      </ul>
    </div>
</div>
<!-- /.slider-->
<!-- Page Content -->
<div class="container">

  <div class="row">

    <div class="col-lg-12">
      <h1 class="page-header" style="margin-left: 15px">最も評価が高い</h1>
    </div>

  </div>

  <div class="row">
    <% @top_ratings.each do |item| %>
        <%= render 'home/top_rating_item', item: item%>
    <% end %>
  </div>

  <div class="row">

    <div class="col-lg-12">
      <h1 class="page-header">最新のレビュー</h1>
    </div>
  </div>

  <div class="row">

    <% @top_newest.each do |item| %>
        <%= render 'home/top_newest_item', item: item%>
    <% end %>
  </div>

</div>
<!-- /.container -->
<script type="text/javascript" src="js/jquery.flexslider-min.js"></script>

    <script type="text/javascript" charset="utf-8">

    var $ = jQuery.noConflict();

    $(window).load(function() {

    $('.flexslider').flexslider({

          animation: "fade"

    });

 

    $(function() {

        $('.show_menu').click(function(){

                $('.menu').fadeIn();

                $('.show_menu').fadeOut();

                $('.hide_menu').fadeIn();

        });

        $('.hide_menu').click(function(){

                $('.menu').fadeOut();

                $('.show_menu').fadeIn();

                $('.hide_menu').fadeOut();

        });

    });

  });


</script>
