<%= form_tag do %>
<div class="col-md-10 col-md-offset-1 spec-form row filter-container">
  <h1>Filter</h1>
  <hr>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-4">
        <span style="float: right; font-weight: bold">値段</span>
      </div>
      <div class="col-md-8">
        <%=select_tag(:price, options_for_select(
            [
                ['<1000$', 1],
                ['1000$ > and < 2000$', 2]
            ],
        ))%>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <span style="float: right; font-weight: bold">ブランド</span>
      </div>
      <div class="col-md-8">
        <%=select_tag(:brand, options_for_select(
            [
                ['Dell'],
                ['Acer'],
                ['ASUS'],
                ['HP'],
                ['Lenovo'],
                ['Toshiba'],
                ['Fujitsu'],
                ['Apple'],
                ['MSI']
            ]
        ))%>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <span style="float: right; font-weight: bold">Model</span>
      </div>
      <div class="col-md-8">
        <%=select_tag(:model, options_for_select(
            [
                ['Dell Inspiron'],
                ['Dell Vostro'],
                ['Dell XPS'],
                ['Dell Latitude'],
                ['HP Spectre'],
                ['Lenovo Z series'],
                ['Asus Zenbook'],
                ['ASUS X series'],
                ['Asus Transformer Book'],
                ['Asus PU series'],
                ['Asus K series'],
                ['ASUS G series'],
                ['Macbook Pro']
            ]
        ))%>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <span style="float: right; font-weight: bold">RAM</span>
      </div>
      <div class="col-md-8">
        <%=select_tag(:RAM, options_for_select(
            [
                ['1 GB', 1],
                ['2 GB', 2],
                ['3 GB', 3],
                ['4 GB', 4],
                ['6 GB', 6],
                ['8 GB', 8],
                ['16 GB', 16]
            ]
        ))%>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-4">
        <span style="float: right; font-weight: bold">VGA CARD</span>
      </div>
      <div class="col-md-8">
        <%=select_tag(:VGA, options_for_select(
            [
                ['Rời', 1],
                ['Onboard', 2]
            ]
        ))%>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <span style="float: right; font-weight: bold">HDD</span>
      </div>
      <div class="col-md-8">
        <%=select_tag(:HDD, options_for_select(
            [
                ['32 GB'],
                ['1 TB'],
                ['2 TB'],
                ['64 GB'],
                ['128 GB SSD'],
                ['256 GB SSD'],
                ['500 GB'],
                ['750 GB']
            ]
        ))%>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <span style="float: right; font-weight: bold">画面</span>
      </div>
      <div class="col-md-8">
        <%=select_tag(:screen, options_for_select(
            [
                ['11.6 inch'],
                ['17 inch'],
                ['12 inch'],
                ['10.1 inch'],
                ['13.3 inch'],
                ['14 inch'],
                ['15.6 inch'],
            ]
        ))%>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <span style="float: right; font-weight: bold">PIN</span>
      </div>
      <div class="col-md-8">
        <%=select_tag(:PIN, options_for_select(
            [
                ['2 Cell'],
                ['3 Cell'],
                ['4 Cell'],
                ['6 Cell'],
                ['8 Cell'],
            ]
        ))%>
      </div>
    </div>
  </div>

  <div class="row" style="text-align: center;">
    <input type="submit" name="commit" value="Filter" class="filter-button" id="summit-button" data-disable-with="Filter">
  </div>
<% end %>
<hr>
<% if @items.nil? %>
    <h1>Result not found!</h1>
<% else %>
    <div class="container">
      <h1 class="page-header">Search Results</h1>
      <% @items.each do |item| %>
          <%= render 'home/top_newest_item', item: item %>
      <% end %>
    </div>
<% end %>
</div>
