<%= form_for Item.new do |f| %>

<div class="new-review-page">
  <div class="review-form-box container-fluid">
  	<b><h3 class="new-review-title">Device specifications</h3></b>

  	<div class="spec-form row">
  		<div class="col-md-6">

				<div class="field">
					<%=f.label :name %>
					<%=f.text_field :name, :class => "form-field form-control", id: "item-name" %>
				</div>

				<div class="field">			
					<%= f.label :brand %>
					<%= f.text_field :brand, :class => "form-field form-control", id:"item-branch" %>
				</div>

				<div class="field">			
					<%= f.label :model %>
					<%= f.text_field :model, :class => "form-field form-control", id: "item-model" %>
				</div>

				<div class="field">
					<%= f.label :RAM %>
					<%= f.text_field :RAM, :class => "form-field form-control", id: "item-ram" %>
				</div>

				<div class="field">
					<%= f.label :VGA %>
					<%= f.text_field :VGA, :class => "form-field form-control", id: "item-vga" %>
				</div>

				<div class="field">		
					<%= f.label :cd %>
					<%= f.select :cd, ["yes", "no"], {}, {:class => "form-control", :id => "item-cd"} %>
				</div>
  		</div>
		
			<div class="col-md-6">
				<div class="field">
					<%= f.label :HDD %>
					<%= f.text_field :HDD, :class => "form-field form-control", id: "item-hdd" %>
				</div>

				<div class="field">
					<%= f.label :price %>
					<%= f.text_field :price, :class => "form-field form-control", id: "item-price" %>
				</div>

				<div class="field">
					<%= f.label :screen %>
					<%= f.text_field :screen, :class => "form-field form-control", id: "item-screen" %>
				</div>

				<div class="field">
					<%= f.label :OS %>
					<%= f.text_field :OS, :class => "form-field form-control", id: "item-os" %>
				</div>

				<div class="field">
					<%= f.label :PIN %>
					<%= f.text_field :PIN, :class => "form-field form-control", id: "item-pin" %>
				</div>

	      <div class="field">
	        <%= f.label :image%><br/>
	        <%= f.file_field :image, onchange:"readURL(this)"%>
	        <img id="img_prev" src="#" alt="your image" />
	      </div>

			</div>
		</div>
  </div>

  <div class="review-form-box container-fluid">
  	<b><h3 class="new-review-title">What do you think about it?</h3></b>
  	<div class="spec-form row">  	
  			<input id="input-4" name="rate">
  	</div>
  	<br>
  </div>	

  <div class="review-form-box container-fluid">  
  	<b><h3 class="new-review-title">Some thoughts</h3></b>
  	<div class="spec-form row">
  		<div class="col-md-6">
  			<b><h3 class="new-review-title">Pros</h3></b>
  			<%= f.text_area :pros, size: "50x7", class: 'pros-cons', id: "item-pros" %>
	  	</div>
	  	<div class="col-md-6">
	  		<b><h3 class="new-review-title">Cons</h3></b>
  			<%= f.text_area :cons, size: "50x7", class: 'pros-cons', id: "item-cons" %>
	  	</div>
  	</div>
  </div>	

  <div class="review-form-box container-fluid">
  	<b><h3 class="new-review-title">Detailed review</h3></b>

  	<div class="detail-content">
	  	<div class="review-content">
				<%=f.cktext_area :detail_review, id: "item-detail"%>
			</div>
			<div class="post-actions">
	    	<%= f.submit "Post", :class => "summit-button" %>
	  		<button type="button" class="summit-button" data-toggle="modal" data-target="#itemPreview" id="preview-button">
				  Preview
				</button>
	  	</div>
	  </div>
  </div>	
</div>

<%end%>

<script type="text/javascript">
	$("#input-4").rating({min:1, max:5, size:'md', showClear:false});
	$("#preview-button").on('click', function(){
		$("#preview-name").html($("#item-name").val());
		$("#preview-branch").html($("#item-branch").val());
		$("#preview-model").html($("#item-model").val());
		$("#preview-ram").html($("#item-ram").val());
		$("#preview-vga").html($("#item-vga").val());
		$("#preview-cd").html($("#item-cd").val());
		$("#preview-hdd").html($("#item-name").val());
		$("#preview-price").html($("#item-price").val());
		$("#preview-screen").html($("#item-screen").val());
		$("#preview-os").html($("#item-os").val());
		$("#preview-pin").html($("#item-pin").val());
		// $("#preview-rate").val($("#item-rate").val());
		$("#preview-rate").addClass("filled-stars")
		$("#preview-pros").html($("#item-pros").val());
		$("#preview-cons").html($("#item-cons").val());
		$("#preview-detail").html($("#item-detail").val());
	})
</script>

  <!-- Modal -->
<div class="modal fade" id="itemPreview" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Review preview</h4>
      </div>
      <div class="modal-body">
      	<ul>
      	<img id="preview-img" src="#" alt="your image" />
        	<li><div id="preview-name"></div></li>
      		<li><div id="preview-branch"></div></li>
      		<li><div id="preview-model"></div></li>
      		<li><div id="preview-ram"></div></li>
      		<li><div id="preview-vga"></div></li>
      		<li><div id="preview-cd"></div></li>
      		<li><div id="preview-hdd"></div></li>
      		<li><div id="preview-price"></div></li>
      		<li><div id="preview-screen"></div></li>
      		<li><div id="preview-os"></div></li>
      		<li><div id="preview-pin"></div></li>
      		<input id="preview-rate" name="rate" disabled="true">
<!--       		<div class="spec-form row">  	
	  			<div class="rating-container rating-md rating-animate"><div class="rating"><span class="empty-stars"><span class="star"><i class="glyphicon glyphicon-star-empty"></i></span><span class="star"><i class="glyphicon glyphicon-star-empty"></i></span><span class="star"><i class="glyphicon glyphicon-star-empty"></i></span><span class="star"><i class="glyphicon glyphicon-star-empty"></i></span><span class="star"><i class="glyphicon glyphicon-star-empty"></i></span></span><span class="filled-stars" style="width: 0%;"><span class="star"><i class="glyphicon glyphicon-star"></i></span><span class="star"><i class="glyphicon glyphicon-star"></i></span><span class="star"><i class="glyphicon glyphicon-star"></i></span><span class="star"><i class="glyphicon glyphicon-star"></i></span><span class="star"><i class="glyphicon glyphicon-star"></i></span></span></div><div class="caption"><span class="label label-default">Not Rated</span></div><input id="preview-rate" name="rate" class="hide"></div>
	  			</div> -->
      		<li><div id="preview-pros"></div></li>
      		<li><div id="preview-cons"></div></li>
      		<li><div id="preview-detail"></div></li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- /Modal -->
<script type="text/javascript">
	$("#preview-rate").rating({min:1, max:5, size:'md', showClear:false});
</script>
<script>
    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
          $('#img_prev')
            .attr('src', e.target.result)
            .width(150)
            .height(150);

          $('#preview-img')
            .attr('src', e.target.result)
            .width(150)
            .height(150);
        };

        reader.readAsDataURL(input.files[0]);
      }
    }
</script>