
<div class="article-section container">

	<h1><%= @item.name %></h1>

	<div class="row">
		<div class="col-md-4 product-images">
			<img class="img-responsive" src="http://placehold.it/400x300" alt="">
		</div>
		<div class="col-md-8">
			<input id="star-input" class="rating rating-loading" value="<%=@ratings %>" data-size="sm" readonly="true">
			<p class="comment-count">12 comment(s)</p>
			<p class="spec-text">Specifications</p>
			<ul>
				<li>Brand: <%= @item.brand %></li>
				<li>Model: <%= @item.model %></li>
				<li>RAM: <%= @item.RAM %></li>
				<li>VGA: <%= @item.VGA %></li>
				<li>Disk: <%= @item.HDD %></li>
				<li>Screen: <%= @item.screen %></li>
				<li>OS: <%= @item.OS %></li>
				<li>Battery: <%= @item.PIN %></li>
				<li>Price: <%= @item.price %>$</li>
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<h3>Pros</h3>
			<p><%= @item.pros %></p>
		</div>
		<div class="col-md-4">
			<h3>Cons</h3>
			<p><%= @item.cons %></p>
		</div>
	</div>

	<div class="detailed-review-body">
			<p><%= @item.detail_review %></p>
	</div>
</div>

<!-- ratings: <%=@ratings %>
avg_rate: <%= @rate_point%> -->

<%=form_tag(rate_path, method: 'post', multipart: true) do %>
	 <div class="pc-spec-form-box">
  	<b><h3 class="new-review-title">What do you think about it?</h3></b>
  	<div class="spec-form">  	
      	<input id="input-4" name="rate" class="rating rating-loading" data-show-clear="false" data-show-caption="true" value="<%=@rated_value%>">
  	</div>
  	<br>
  </div>
  <%= hidden_field_tag 'item', @item.id%>
  <%=submit_tag 'rate', class: 'btn btn-primary'%>	
<%end%>
