
<div class="article-section container">

	<% if current_user && @item.user.id == current_user.id %>
		<div style="text-align:right; margin-top:10px">
			<%= link_to edit_item_path(@item.id), class: "btn btn-primary" do %>
		    <i class="glyphicon glyphicon-edit"> Edit</i>
			<% end %>
		</div>
	<% end %>
	<h1 class="article-title"><b><%= @item.name %></b></h1>

	<div class="row">
		<div class="col-md-4 product-images">
			<% if @item.image.nil? %>
				<img class="img-responsive" style="max-width:100%; max-height:100%" src="http://placehold.it/500x500" alt="">
			<% else %>
				<img class="img-responsive" style="max-width:100%; max-height:100%" src="<%= @item.image %>" alt="">
			<% end %>
		</div>
		<div class="col-md-8">
			<div id="comment-top" style="cursor: pointer;" class="comment-count"><%=@item.comments.size%> comment(s)</div>
			<br>
			<div style="padding-top: 8px">
					<input id="rating1", name="rate", value="<%=@item.rate%>">
			</div>
			<p class="spec-text">SPECIFICATIONS</p>
			<ul>
				<li><b class="spec-type">Brand:</b> <%= @item.brand.nil? || @item.brand.empty? ? "No info" : @item.brand %></li>
				<li><b class="spec-type">Model:</b> <%= @item.model.nil? || @item.model.empty? ? "No info" : @item.model %></li>
				<li><b class="spec-type">RAM:</b> <%= @item.RAM.nil? || @item.RAM.empty? ? "No info" : @item.RAM %></li>
				<li><b class="spec-type">VGA:</b> <%= @item.VGA.nil? || @item.VGA.empty? ? "No info" : @item.VGA %></li>
				<li><b class="spec-type">Disk:</b> <%= @item.HDD.nil? || @item.HDD.empty? ? "No info" : @item.HDD %></li>
				<li><b class="spec-type">Screen:</b> <%= @item.screen.nil? || @item.screen.empty? ? "No info" : @item.screen %></li>
				<li><b class="spec-type">OS:</b> <%= @item.OS.nil? || @item.OS.empty? ? "No info" : @item.OS %></li>
				<li><b class="spec-type">Battery:</b> <%= @item.PIN.nil? || @item.PIN.empty? ? "No info" : @item.PIN %></li>
				<li><b class="spec-type">Price:</b> <%= @item.price.nil? || @item.price.nil? ? "No info" : @item.price %>$</li>
			</ul>
		</div>
	</div>

	<br>

	<div class="row overview-section">
		<div class="col-md-4">
			<h4 class="h4-title">Pros</h4>
			<p><%= @item.pros.nil? || @item.pros.empty? ? "No pros" : @item.pros %></p>
		</div>
		<div class="col-md-4">
			<h4 class="h4-title">Cons</h4>
			<p><%=@item.cons.nil? || @item.cons.empty? ? "No cons" : @item.cons %></p>
		</div>
	</div>

	<div class="detailed-review-body">
			<%=raw @item.detail_review %>
	</div>

<!-- Author link -->
	<div class="comment" style="padding-left: 20px; margin-bottom: 50px">
		<p style="border-top: 1px solid #CBCAC9; width:250px">
		<a class="pull-left" href="#">
	    <% if @item.user.avatar.nil? %>
	     	<img class="avatar" src="http://bootdey.com/img/Content/user_1.jpg" alt="avatar">
	    <% else %>
	      <img class="avatar" src="<%=@item.user.avatar%>" alt="avatar">
	     <% end %>
	  </a>
	  <div class="comment-body">
	      <div class="comment-heading">
	          <h4 class="user"><%=link_to @item.user.name, @item.user %></h4>
	          <h5 class="time">3 reviews</h5>
	      </div>
	      <p><%= time_ago_in_words(@item['created_at']) %></p>
	  </div>
	</div>

	<!-- Comments -->
	<h3 class="comment-title">Comments</h3>
	<div class="comment-section" style="padding-left:50px;padding-right:50px;padding-top:15px">
    <% if current_user %>
		<%= render 'comments/comment_form', item: @item%>
    <% end %>
		<div id="comments-list">
			<% @item.comments.each do |comment| %>
				<%= render 'comments/comment', comment: comment%>
			<%end%>
		</div>
	</div>
</div>

<script type="text/javascript">
	if ($('.rating').length == 0) {
		$("#rating1").rating({min:1, max:5, size:'xs', showClear:false, disabled:true});
	}
</script>
