
<div class="article-section container">

	<% if current_user && @item.user.id == current_user.id %>
		<div style="text-align:right; margin-top:10px">
			<%= link_to edit_item_path(@item.id), class: "btn btn-primary" do %>
		    <i class="glyphicon glyphicon-edit"> 編集</i>
			<% end %>
		</div>
	<% end %>

  <%if !current_user.nil? && current_user.admin %>
      <div id="approbation_<%=@item.id%>" style="text-align:right; margin-top:10px">
        <%if @item.approved?%>
            <%=render 'admins/approved', item: @item%>
        <%else%>
            <%=render 'admins/unapproved', item: @item%>
        <%end%>
      </div>
  <%end%>

  <!-- Author link -->
  <div class="comment" style="padding-left: 20px; margin-bottom: 50px; margin-top:50px">
    <p style="width:250px">
      <a class="pull-left" href="#" style="margin-top:0">
        <% if @item.user.avatar.blank? %>
            <img class="avatar2" src="http://bootdey.com/img/Content/user_1.jpg" alt="avatar">
        <% else %>
            <img class="avatar2" src="<%=@item.user.avatar%>" alt="avatar">
        <% end %>
      </a>
      <div class="comment-body" style="margin-top: 10px; padding-left: 20px;">
        <div class="comment-heading">
          <h4 class="user"><%=link_to @item.user.name, @item.user %></h4>
        </div>
    <p><%= @item['created_at']%>に書いた</p>
  </div>

	<h1 class="article-title"><b><%= @item.name %></b></h1>

	<div class="row">
		<div class="col-md-4 product-images">
			<% if @item.image.nil? %>
				<img class="img-responsive" style="max-width:100%; max-height:100%" src="http://placehold.it/500x500" alt="">
			<% else %>
				<img class="img-responsive" style="max-width:100%; max-height:100%" src="<%= @item.image %>" alt="">
			<% end %>

		</div>
		<div class="col-md-7">
			<div id="comment-top" style="cursor: pointer;" class="comment-count"><%=@item.comments.size%> コメント</div>
			<br>
			<div style="padding-top: 8px">
					<input id="rating1", name="rate", value="<%=@item.rate%>">
			</div>
			<p class="spec-text">スペック</p>
			<div class="row">
        <div class="col-md-6">
          <ul>
            <li><b class="spec-type">ブランド:</b> <%= @item.brand.nil? || @item.brand.empty? ? "情報なし" : @item.brand %></li>
            <li><b class="spec-type">モデル:</b> <%= @item.model.nil? || @item.model.empty? ? "情報なし" : @item.model %></li>
            <li><b class="spec-type">メモリー:</b> <%= @item.RAM.nil? || @item.RAM.empty? ? "情報なし" : @item.RAM %></li>
            <li><b class="spec-type">グラフィック:</b> <%= @item.VGA.nil? || @item.VGA.empty? ? "情報なし" : @item.VGA %></li>
            <li><b class="spec-type">ストレージ:</b> <%= @item.HDD.nil? || @item.HDD.empty? ? "情報なし" : @item.HDD %></li>
          </ul>
        </div>
        <div class="col-md-6">
          <ul>
            <li><b class="spec-type">画面:</b> <%= @item.screen.nil? || @item.screen.empty? ? "情報なし" : @item.screen %></li>
            <li><b class="spec-type">OS:</b> <%= @item.OS.nil? || @item.OS.empty? ? "情報なし" : @item.OS %></li>
            <li><b class="spec-type">バッテリー:</b> <%= @item.PIN.nil? || @item.PIN.empty? ? "情報なし" : @item.PIN %></li>
            <li><b class="spec-type">価額:</b> <%= @item.price.nil? || @item.price.nil? ? "情報なし" : @item.price %>$</li>
          </ul>
        </div>
      </div>
		</div>
	</div>

	<br>

	<div class="row overview-section">
		<div class="col-md-4">
			<h4 class="h4-title">長所</h4>
			<p><%= @item.pros.nil? || @item.pros.empty? ? "なし" : @item.pros %></p>
		</div>
		<div class="col-md-4">
			<h4 class="h4-title">短所</h4>
			<p><%=@item.cons.nil? || @item.cons.empty? ? "なし" : @item.cons %></p>
		</div>
	</div>

	<div class="detailed-review-body">
			<%=raw @item.detail_review %>
	</div>

  <div class="fb-share-button" data-href="https://tasogare.herokuapp.com/items/<%=@item.id%>" data-layout="button_count" data-size="large">
  </div>


</div>

	<!-- Comments -->
	<h3 class="comment-title">コメント</h3>
	<div class="comment-section" style="padding-left:50px;padding-right:50px;padding-top:15px">
    <% if current_user %>
		<%= render 'comments/comment_form', item: @item%>
    <% end %>
		<div id="comments-list">
			<% @item.comments.each do |comment| %>
				<%= render 'comments/comment', comment: comment%>
			<%end%>
		</div>
	</div>
</div>

<script type="text/javascript">
	if ($('.rating').length == 0) {
		$("#rating1").rating({min:1, max:5, size:'xs', showClear:false, disabled:true});
	}
</script>
