<header class="navbar navbar-fixed-top navbar-inverse custom-nav">
  <div class="container">
    <%= link_to "PCMig", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-left">
        <li>
          <input class="form-control search-box" name="keyword" placeholder="何かを入力してください">
        </li>
        <li>
          <select class="form-control search-options">
            <option value="5">★★★★★</option>
            <option value="4">★★★★☆</option>
            <option value="3">★★★☆☆</option>
            <option value="2">★★☆☆☆</option>
            <option value="1" selected>★☆☆☆☆</option>
          </select>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to "Post a review", new_item_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle email-text" data-toggle="dropdown">
              Hello, <%= current_user.email %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "My reviews", items_path %></li>
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_registration_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", destroy_user_session_path, method: 'delete'%>
              </li>
            </ul>
          </li>
        <% else %>          
           <li><%= link_to "Log in", new_user_session_path %></li>
           <li><%= link_to "Sign up", new_user_registration_path %></li>
        <% end %>
        
      </ul>
    </nav>
  </div>
</header>