<header class="navbar navbar-fixed-top navbar-inverse custom-nav">
  <div class="container">
    <%= link_to "PCMig", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-left">
        <li>
<!--           <input class="form-control search-box" name="keyword" placeholder="何かを入力してください"> -->
          <%= form_tag search_path, method: :get, :class => 'form-inline' do %>
            <%= text_field_tag :search, params[:search],placeholder: "パソコンの名前を検索", class: "form-control search-box"%>
          <% end %>
        </li>
<!--         <li>
          <select class="form-control search-options">
            <option value="5">★★★★★</option>
            <option value="4">★★★★☆</option>
            <option value="3">★★★☆☆</option>
            <option value="2">★★☆☆☆</option>
            <option value="1" selected>★☆☆☆☆</option>
          </select>
        </li> -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <% if current_user.admin? %>
                <li>
                  <%=link_to "お知らせ("+ current_user.notifications.where(read: false).count.to_s + ")", notifications_path, class: "header-item"%>
                </li>
                <li>
                  <%=link_to 'メッセージ(' + check_for_messages.to_s + ')', message_rooms_path, {class: 'header-item'}%>

                </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle email-text header-item" data-toggle="dropdown">
                管理者 <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "レビュー管理", admins_items_path %></li>
                <li><%= link_to "ユーザー管理", admins_users_path %></li>
                <li><%= link_to "プロフィール", current_user %></li>
                <li><%= link_to "アカウント設定", edit_user_registration_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "ログアウト", destroy_user_session_path, method: 'delete'%>
                </li>
              </ul>
            </li>
          <%else %>
                <li><%= link_to "詳細検索",filter_path, {data:{toggle: "modal", target: "#filterModal"}, class: "header-item"} %></li>
            <li>
              <%=link_to "お知らせ("+ current_user.notifications.where(read: false).count.to_s + ")", notifications_path, {class: "header-item"}%>
            </li>
            <li><%= link_to "レビューを書く", new_item_path, {class: "header-item"} %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle email-text header-item" data-toggle="dropdown">
                <%= current_user.email %> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "レビュー一覧", items_path %></li>
                <li><%= link_to "プロフィール", current_user %></li>
                <li><%= link_to "アカウント設定", edit_user_registration_path(current_user) %></li>
                <li><%= link_to 'フィードバック (' + check_for_messages.to_s + ')', current_user.message_rooms.empty? ? new_message_room_path : message_room_path(current_user.message_rooms.first) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "ログアウト", destroy_user_session_path, method: 'delete'%>
                </li>
              </ul>
            </li>
          <%end%>
        <% else %>
           <li><%= link_to "ログイン、", new_user_session_path %></li>
           <li><%= link_to "登録", new_user_registration_path %></li>
        <% end %>
        
      </ul>
    </nav>
  </div>
</header>