<!DOCTYPE html>
<html>
  <head>
    <title>TasogareItjp3</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => false %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
    <%= javascript_include_tag Ckeditor.cdn_url%>
  </head>

  <body>
  	<div class="col-lg-10 col-lg-offset-1 root-container">
	  	<%= render 'layouts/header' %>
	  	<div class="container root-container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
        <%=render 'layouts/filter_form'%>
	    	<%= yield %>
	    </div>
    </div>
  </body>
</html>
