<div style="width:60%; margin:auto">
  <h2>Edit profile</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :name %><br/>
        <%= f.text_field :name, :class => "login-field form-control" %>
      </div>

      <div class="field">
        <%= f.label :email %><br/>
        <%= f.email_field :email, autofocus: true, class: "login-field form-control" %>
      </div>

      <div class="field">
        <%= f.label :dob, 'Date of birth'%><br/>
        <%= f.text_field :dob, data:{provide: 'datepicker'}, :class => "login-field form-control" %>
      </div>

      <div class="field">
        <%= f.label :gender%><br/>
        <%= f.select(:gender, ['Male','Female', "Gay", "Les"], {}, {:class => "form-control"})%>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :password %> <i>(
          <% if @minimum_password_length %> <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>, leave blank if you don't want to change it)</i><br/>
        <%= f.password_field :password, autocomplete: "off", class: "login-field form-control" %>
        
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br/>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "login-field form-control" %>
      </div>

      <div class="field">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br/>
        <%= f.password_field :current_password, autocomplete: "off", class: "login-field form-control" %>
      </div>

      <div class="actions" style="text-align:right;margin-right:20px">
        <%= f.submit "Update", class: "update-button" %>
      </div>
  <% end %>

  <br>

  <div style="text-align:center; border-top: 2px solid #CBCAC9; margin-top:40px; margin-bottom:100px">
    <h4>Unhappy? <%= link_to "Cancel your account", registration_path(resource_name), data: {confirm: "Are you sure?"}, method: :delete %></h4>
  </div>
</div>